body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card-wrapper {
  border: 3px solid gray;
  width: 300px;
  padding: 20px;
  margin: 20px;
}
.card {
  display: flex;
  gap: 3;
  flex-direction: column;
  text-align: center;
  background: white;
}